*{margin: 0;padding: 0}
ul,li{list-style: none}
a{text-decoration: none;color:#fff}
a:hover{color: #9e0000}
html{
	background-color: #636363;
	background: -webkit-linear-gradient(top,#4f4d4d 0,#727272 100%);
	background: -moz-linear-gradient(top,#4f4d4d 0,#727272 100%);
	background: -o-linear-gradient(top,#4f4d4d 0,#727272 100%);
	background: linear-gradient(to bottom,#4f4d4d 0,#727272 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f4d4d,endColorstr=#727272,GradientType=0);
	box-shadow: 0px 5px 6px rgba(0,0,0,.4) inset;
	border-top: 4px #bb1128 solid;
}
body{
	width: 1078px;
	height: 300px;
	margin: 0 auto;
	padding-top: 30px;
	padding-left: 22px;
	padding-right: 70px;
	font-family: '微软雅黑';
	color:#fff;
	position: relative;
}
ul>p{
	font-size: 18px;
	margin-bottom: 20px;
}
ul>li{
	margin: 5px 0;
	font-size: 14px;
}
.u1>li{
	float: left;
	margin-right: 70px
}
.tocenter{
	width: 1000px;
	display: block;
	margin: 0 auto;
	padding-left: 100px;
}
.address{
	float: left;
	line-height: 2;
	margin-right: 80px;
}
.icp{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 50px;
	left: 0;
}
.box{
	width: 365px;
	height: 432px;
	float: left;

}
.box h4{
	margin-bottom: 5px;
}
.box h4~p{
	margin-bottom: 3px;
}
.ico{
	width: 40px;
	height: 40px;
	display: block;
	position: absolute;
	top: 60px;
}
.weibo{
	right: 296px;
}
.weix{
	right:225px;
}
.QRcode{
	text-align: center;
	width: 115px;
	height: 144px;
	float: left;
	margin:20px 30px 20px;
	font-size: 14px;
}
.QRcode1{
	margin-left: 0
}
.clr{
	clear: both;
}
